@tailwind base;
@tailwind components;

@layer base {
	html {
		@apply font-sans;
	}
}

@font-face {
	font-family: 'Mondwest';
	src: url(./fonts/Mondwest-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'GT Pressura Mono';
	src: url(./fonts/GT-Pressura-Mono.woff) format('woff');
}
@font-face {
	font-family: 'GT Pressura Pro Mono Light';
	src: url(./fonts/GT-Pressura-Pro-Mono-Light.otf) format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	@apply font-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
	font-size: 18px;
	@apply scroll-smooth md:scroll-p-16 scroll-p-32 text-base;
}

body {
	background-color: #e5e2e1;
}

.role-list ul li {
	display: inline-block;
}

section {
	@apply px-4;
}

.haha {
	border: 2px solid red;
}

.btn-link {
	@apply border border-black rounded-md shadow-[0px_2px_0_black] px-2 inline-block bg-white transition-all hover:shadow-[0px_0px_0px_black] hover:translate-y-[2px];
}

.btn-link-highlight {
	@apply bg-orange;
}

p a {
	@apply text-orange hover:underline;
}

@tailwind utilities;
